USE [MagicCube]
GO
/****** Object:  Table [dbo].[RegistrationAccount]    Script Date: 2024/8/9 下午 02:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationAccount](
	[SchoolCode] [nvarchar](50) NOT NULL,
	[Kind] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[SchoolName] [nvarchar](50) NULL,
	[TeacherName] [nvarchar](50) NULL,
	[TeacherPhone] [nvarchar](50) NULL,
	[TeacherEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK_RegistrationAccount] PRIMARY KEY CLUSTERED 
(
	[SchoolCode] ASC,
	[Kind] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 2024/8/9 下午 02:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[SchoolCode] [nvarchar](50) NOT NULL,
	[Kind] [nvarchar](50) NOT NULL,
	[SchoolName] [nvarchar](50) NULL,
 CONSTRAINT [PK_School] PRIMARY KEY CLUSTERED 
(
	[SchoolCode] ASC,
	[Kind] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student2024]    Script Date: 2024/8/9 下午 02:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student2024](
	[SchoolCode] [nvarchar](50) NOT NULL,
	[Kind] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
	[StudentName] [nvarchar](50) NULL,
	[TeacherName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student2024] PRIMARY KEY CLUSTERED 
(
	[SchoolCode] ASC,
	[ID] ASC,
	[Kind] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RegistrationAccount] ([SchoolCode], [Kind], [Password], [SchoolName], [TeacherName], [TeacherPhone], [TeacherEmail]) VALUES (N'311401', N'國小', N'311401', N'私立育達高中(國小部)', NULL, NULL, NULL)
INSERT [dbo].[RegistrationAccount] ([SchoolCode], [Kind], [Password], [SchoolName], [TeacherName], [TeacherPhone], [TeacherEmail]) VALUES (N'311401', N'國中', N'311401', N'私立育達高中(國中部)', NULL, NULL, NULL)
INSERT [dbo].[RegistrationAccount] ([SchoolCode], [Kind], [Password], [SchoolName], [TeacherName], [TeacherPhone], [TeacherEmail]) VALUES (N'313501', N'國中', N'0000', N'市立介壽國中', N'阿雄', N'12345', N'23456@gmail.com')
GO
INSERT [dbo].[School] ([SchoolCode], [Kind], [SchoolName]) VALUES (N'311401', N'國小', N'私立育達高中(國小部)')
INSERT [dbo].[School] ([SchoolCode], [Kind], [SchoolName]) VALUES (N'311401', N'國中', N'私立育達高中(國中部)')
INSERT [dbo].[School] ([SchoolCode], [Kind], [SchoolName]) VALUES (N'313301', N'國中', N'市立西松高中(國中部)')
GO
INSERT [dbo].[Student2024] ([SchoolCode], [Kind], [ID], [StudentName], [TeacherName]) VALUES (N'311401', N'國小', N'1', NULL, NULL)
INSERT [dbo].[Student2024] ([SchoolCode], [Kind], [ID], [StudentName], [TeacherName]) VALUES (N'311401', N'國中', N'1', NULL, NULL)
INSERT [dbo].[Student2024] ([SchoolCode], [Kind], [ID], [StudentName], [TeacherName]) VALUES (N'311401', N'國小', N'2', NULL, NULL)
GO
